*{
    box-sizing: border-box;
}

.contenedor{
    width: 500px;
    border: solid 1px black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.item{
    border: solid 1px salmon;
}



.imagen{
    width: 200px;
    height: 100px;
    
}